.notification-container {
  border: 1px solid #e5e5e5;
  width: 70%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
}

.icon-and-text-container {
  display: flex;
}

.icon-container {
  margin: 10px;
  align-self: flex-start;
}

.text-container {
}

.noti-title {
  margin-top: 10px;
}

.cross-icon {
  height: 20px;
  width: 20px;
}
